In [1]:
import pandas as pd
lst = ['Geeks', 'For', 'Geeks', 'is',  
            'portal', 'for', 'Geeks'] 
       
df = pd.DataFrame(lst)
df

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [3]:
from IPython.display import display, HTML
display(HTML('<h1>Hello World</h1>'))

In [4]:
display({'text/html': '<h1>Hello World</h1>', 'text/plain': 'Hello World'}, raw=True)

Hello World

In [2]:
print('girwin3 made this bit')

girwin3 made this bit